<h1>HELLOOOOOO</h1>
<h1>create new head here</h1>

<form action="/heads" method="post">
    <p>Brand: <input type="text" name="brand"></p>
    <p>Name: <input type="text" name="name"></p>
    <p>Image URL: <input type="text" name="img"></p>
    <p>Price: <input type="float" name="price"></p>
    <p>Description: </p>
    <textarea name="description" value="description" rows:"5" cols="10"></textarea>

    <input type="submit" value="Submit">
</form>