
<h1>Create New Head Here</h1>

<form action="/heads" method="post">
    <p>Brand: <input type="text" name="brand"></p>
    <p>Name: <input type="text" name="name"></p>
    <p>Image URL: <input type="text" name="img" value="/images/default_img.png"></p>
    <p>(If you don't have the URL, please skip this one.)</p>
    <p>Price: $<input type="float" name="price"></p>
    <p>Description: </p>
    <textarea name="description" value="Description" rows:"10" cols="75"></textarea>

    <input type="submit" value="Submit">
</form>