<div class="container">
  <header><img src="images/headinguplogo.png" class="img-responsive main-image" style="padding-left: 350px;"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Heading Up: Your Collection of Lacrosse Heads</h2>

    <div class="content">
      <p>Heading Up is a simple Sinatra Application using ActiveRecord that has brought my two passions of lacrosse and coding together. This application was built to show the MVC framework, as well as a showcase for some RESTful API and CRUD abilities. If you would like to view the code behind the machine, this can be found on <a href="https://github.com/jck13mad/headingup">my github</a>. Thank you and I hope you enjoy!</p>
    </div>

    <div class="sidebar">
      <h3>Heading Up Stats</h3>
      <ul>
        <li><b>App Users:</b> <%= User.all.count%></li>
        <li><b>Heads Added:</b> <%= Head.all.count %></li>
        <li><b>Smiles Made:</b> <%= (User.all.count)*(Head.all.count) %></li>
      </ul>
    </div>

  </div>
</div>
